# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.DS_Store
.idea/*
.idea/shelf
/confluence/target
/dependencies/repo
/android.tests.dependencies
/dependencies/android.tests.dependencies
/dist
/local
/gh-pages
/ideaSDK
/clionSDK
/android-studio/sdk
out/
/tmp
/intellij
workspace.xml
*.versionsBackup
/idea/testData/debugger/tinyApp/classes*
/jps-plugin/testData/kannotator
/js/js.translator/testData/out/
/js/js.translator/testData/out-min/
/js/js.translator/testData/out-pir/
.gradle/
build/
!**/src/**/build
!**/test/**/build
*.iml
!**/testData/**/*.iml
.idea/remote-targets.xml
.idea/libraries/Gradle*.xml
.idea/libraries/Maven*.xml
.idea/artifacts/PILL_*.xml
.idea/artifacts/KotlinPlugin.xml
.idea/modules
.idea/runConfigurations/JPS_*.xml
.idea/runConfigurations/PILL_*.xml
.idea/runConfigurations/_FP_*.xml
.idea/runConfigurations/_MT_*.xml
.idea/libraries
.idea/modules.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/.name
.idea/artifacts/dist_auto_*
.idea/artifacts/dist.xml
.idea/artifacts/ideaPlugin.xml
.idea/artifacts/kotlinc.xml
.idea/artifacts/kotlin_compiler_jar.xml
.idea/artifacts/kotlin_plugin_jar.xml
.idea/artifacts/kotlin_jps_plugin_jar.xml
.idea/artifacts/kotlin_daemon_client_jar.xml
.idea/artifacts/kotlin_imports_dumper_compiler_plugin_jar.xml
.idea/artifacts/kotlin_main_kts_jar.xml
.idea/artifacts/kotlin_compiler_client_embeddable_jar.xml
.idea/artifacts/kotlin_reflect_jar.xml
.idea/artifacts/kotlin_stdlib_js_ir_*
.idea/artifacts/kotlin_test_js_ir_*
.idea/artifacts/kotlin_stdlib_wasm_*
.idea/jarRepositories.xml
.idea/csv-plugin.xml
.idea/libraries-with-intellij-classes.xml
node_modules/
.rpt2_cache/
libraries/tools/kotlin-test-js-runner/lib/
local.properties
buildSrcTmp/
distTmp/
outTmp/
/test.output
/kotlin-native/dist
kotlin-ide/
.idea/.name
.idea/assetWizardSettings.xml
.idea/codeStyles/Project.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.idea/assetWizardSettings.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/compiler.xml
.idea/gradle.xml
.idea/libraries/Gradle__androidx_activity_activity_1_2_4_aar.xml
.idea/jarRepositories.xml
.idea/libraries/Gradle__androidx_annotation_annotation_1_2_0.xml
.idea/libraries/Gradle__androidx_annotation_annotation_experimental_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_resources_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_appcompat_appcompat_1_3_1_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_common_2_1_0.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_arch_core_core_runtime_2_1_0_aar.xml
.idea/libraries/Gradle__androidx_asynclayoutinflater_asynclayoutinflater_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_constraintlayout_constraintlayout_2_1_1_aar.xml
.idea/libraries/Gradle__androidx_collection_collection_1_1_0.xml
.idea/libraries/Gradle__androidx_cardview_cardview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_coordinatorlayout_coordinatorlayout_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_core_core_ktx_1_6_0_aar.xml
.idea/libraries/Gradle__androidx_cursoradapter_cursoradapter_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_documentfile_documentfile_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_customview_customview_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_drawerlayout_drawerlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_fragment_fragment_1_3_6_aar.xml
.idea/libraries/Gradle__androidx_dynamicanimation_dynamicanimation_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_interpolator_interpolator_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_utils_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_core_ui_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_legacy_legacy_support_v4_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_common_2_3_1.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_2_0_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_runtime_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_livedata_core_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_ktx_2_2_0_aar.xml
.idea/libraries/Gradle__androidx_lifecycle_lifecycle_viewmodel_savedstate_2_3_1_aar.xml
.idea/libraries/Gradle__androidx_loader_loader_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_localbroadcastmanager_localbroadcastmanager_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_media_media_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_print_print_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_recyclerview_recyclerview_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_savedstate_savedstate_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_slidingpanelayout_slidingpanelayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_swiperefreshlayout_swiperefreshlayout_1_0_0_aar.xml
.idea/libraries/Gradle__androidx_transition_transition_1_2_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_vectordrawable_vectordrawable_animated_1_1_0_aar.xml
.idea/libraries/Gradle__androidx_versionedparcelable_versionedparcelable_1_1_1_aar.xml
.idea/libraries/Gradle__androidx_viewpager2_viewpager2_1_0_0_aar.xml
.idea/libraries/Gradle__com_google_android_material_material_1_4_0_aar.xml
.idea/libraries/Gradle__androidx_viewpager_viewpager_1_0_0_aar.xml
.idea/libraries/Gradle__com_squareup_okhttp3_logging_interceptor_4_5_0.xml
.idea/libraries/Gradle__com_google_code_gson_gson_2_8_5.xml
.idea/libraries/Gradle__com_squareup_okhttp3_okhttp_4_5_0.xml
.idea/libraries/Gradle__com_squareup_okio_okio_2_5_0.xml
.idea/libraries/Gradle__com_squareup_retrofit2_converter_gson_2_6_0.xml
.idea/libraries/Gradle__com_squareup_retrofit2_retrofit_2_9_0.xml
.idea/libraries/Gradle__junit_junit_4_13_2.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__org_jetbrains_annotations_13_0.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_common_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk7_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_stdlib_jdk8_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_annotations_common_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_common_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlin_kotlin_test_junit_1_5_31.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_android_1_5_0.xml
.idea/libraries/Kotlin_Native_1_5_31___stdlib.xml
.idea/libraries/Gradle__org_jetbrains_kotlinx_kotlinx_coroutines_core_jvm_1_5_0.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/androidApp/ToDoList.androidApp.iml
.idea/modules/shared/ToDoList.shared.androidAndroidTestRelease.iml
.idea/modules/shared/ToDoList.shared.commonMain.iml
.idea/modules/shared/ToDoList.shared.commonTest.iml
.idea/modules/shared/ToDoList.shared.iml
.idea/modules/shared/ToDoList.shared.iosMain.iml
.idea/modules/shared/ToDoList.shared.iosTest.iml
.idea/modules/ToDoList.iml
.idea/vcs.xml
shared/shared.podspec
settings.gradle.kts
shared/
myapplication/
myapplication/src/test/java/com/example/myapplication/ExampleUnitTest.java
myapplication/src/main/AndroidManifest.xml
myapplication/src/androidTest/java/com/example/myapplication/ExampleInstrumentedTest.java
myapplication/proguard-rules.pro
myapplication/consumer-rules.pro
myapplication/build.gradle
shared/shared.podspec
settings.gradle.kts
settings.gradle.kts
shared/shared.podspec
settings.gradle.kts
shared/shared.podspec
settings.gradle.kts
